@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kumbh+Sans:wght@100..900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header,nav,main,footer{
    width: 100%;
    background-color: blueviolet;
    color: aliceblue; 
    padding: 50px;
}
nav{
    background-color: peachpuff;
    height: auto;
}
main{
    background-color: mediumpurple;
    height: auto;
}
footer{
    height: 50px;
}
header,footer{
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-weight: 200;
}
nav ul{
    text-align: center;
}
nav ul li{
    display: inline-block;
    width: 10%;
    list-style-type: none;
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    min-width: 118px;
    font-family: "Saira Semi Condensed", sans-serif;

}
nav ul li a{
    text-decoration: none;
    color: beige;
}
nav ul li:hover{
    background-color:#FF9D23;
    color: darkmagenta;
            }
section{
    width: auto;
    background-color: darkmagenta;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    min-width: 120px;
    font-family: "Kumbh Sans", sans-serif;

    
}

h1,h6{
    text-align: center;
    font-size: 48px;
}
h6{
   
    font-size: 18px;
}
h2{
    margin-bottom: 20px;
}
form{
    width: 50%;
    background-color: lightseagreen;
    padding: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
    min-width: 400px;
    
        
}
input[type=text], select, input[type=file], textarea{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: palevioletred;
    border-radius: 10px;
    background-color: peachpuff;
    border-style: solid;
    border-width: 3px;
    border-color: plum;
    font-family: "Saira Semi Condensed", sans-serif;
}

input[type=text]:focus, select:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus, input[type=month]:focus {
    background-color: cadetblue;
    color: lavenderblush;
    border-style: solid;
}
label{
    font-weight: bold;
    margin-top: 15px;
    display: inline-table;
    margin-top: 15px;
    margin-bottom: 10px;

}
input[type=submit], input[type=reset]{
    margin-top: 20px;
    width: 50%;
    background-color: blueviolet;
    color: azure;
    font-weight: bold;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: purple;
    display: block;
    font-family: "Kumbh Sans", sans-serif;

}
input[type=radio]{
   display: inline;
    margin: 5px;
    width: 10%;
    margin-left: 10px;
    margin-right: 10px;
   
}
input[type=checkbox]{
    margin: 20px;
   
}
input[type=email], input[type=month]{
    width: 100%;
    background-color: peachpuff;
    color: palevioletred;
    border-style: solid;
    border-width: 3px;
    border-color: plum;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    
}
input[type=tel]{
    width: 100%;
    background-color: peachpuff;
    color: palevioletred;
    border-style: solid;
    border-width: 3px;
    border-color: plum;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

input [type=color]{
     width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: peachpuff;
    color: palevioletred;
    border-style: solid;
    border-width: 3px;
    border-color: plum;
}
.res-est{ 
    font-family: "Saira Semi Condensed", sans-serif;
    

}